<!DOCTYPE html>

<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(ViewData["Title"] + " - Flashcards")</title>
    <link rel="stylesheet" href="~/css/custom.css"/>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
<partial name="_NavBar"/>
<div>
    <main role="main" class="pt-5">
        @RenderBody()
        @await RenderSectionAsync("scripts", required: false)
    </main>
</div>
</body>
</html>